---
title: Meu Primeiro Post
author: Brendo Costa
date: 2022-02-12 15:20
image: >
    https://upload.wikimedia.org/wikipedia/commons/0/0b/Monokai_style.png
imageDescription: Um post inicial.
layout: post
---

## Introdução

Some amazing [content](https://google.com).

[Post's image by Damian3003n (CC BY-SA 4.0)](https://commons.wikimedia.org/wiki/File:Monokai_style.png)
